@media (min-width: 990px) {
  .container {
      width: 1200px !important;
  }
}
::-webkit-scrollbar {
  background: transparent;
  width: 3px;

}

::-webkit-scrollbar-thumb {
  background: rgb(84, 84, 84);
  border-radius: 4px;
}

::-webkit-scrollbar-corner {
  border-radius: 4px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
}

html{
  scroll-behavior: smooth;
}

body{
  line-height: 26px;
  letter-spacing: 1px;
 
}
p{
  margin: 0;
}

a{
  text-decoration: none;
  color: #000;
}
 
ul{
  padding: 0;
  margin: 0;
}
 li{
  list-style: none;
 }

 h1,h2,h3,h4,h5,h6{
  color: #33353b;
 }


